.portfolio-page {
    display: flex;
}

.navbar-container {
    width: 25%;
    height: 100vh;
    background: #293042;
    text-align: center;
    
}


.main-container {
    background: #191920;
    width: 75%;
   
}

.navbar-list {
    /* border: blue 2px dashed; */
    margin-top: 20%;
    text-align: center;
    display: inline-block;
    
}

.navbar-list p {
    color: #F2F2F2;
}

.navbar-pages-container {
    margin: 0 auto;
    display: inline-block;
}

.navbar-pages {
    display: table;
    width: auto;
    margin-bottom: 15%;
}

.navbar-pages p {
    color: #F2F2F2;
    font-size: 15px;
    margin-bottom: 0px;
    display: inline-block;
    font-family: Roboto;
}
.faFileCode {
    color: red;
}

.folder-name-container {
    display: table;
    width: auto;
    margin-bottom: 10%
}

.folder-name-container p {
    color: #F2F2F2;
    font-size: 18px;
    margin-bottom: 0px;
    display: inline-block;
    font-family: Roboto;
}

/* */

.header-container {
   /* background-color: teal; */
}

.user-info {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}

.user-info p {
    font-size: 15px;
    margin-bottom: -5px;
    font-family: Roboto;
    color: #F2F2F2;
}

.user-info-container {
    display: inline-block;
    padding: 1rem 2rem;
   
}

.icons-container {
    float: right;
    padding: 1.45rem 1.0875rem;
    
    
}

.icons-container a {
    margin-left: 10px;
    color: white;
}

body {
    font-family: Roboto;
}

html body {
    height: 100vh;
    background-color: #A5639F;
}

.terminal-container {
    background-color: black;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 70%;
    padding: 2% 0 2% 2%;
    box-shadow: 5px 5px 5px black;
}

.terminal-nav {
    display: grid;
    margin-bottom: 7%;
}

.circles-container {
    display: flex;
}

.circle {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 10px;
}

.terminal-title {
    position: absolute;
    top: 4.5%;
    left: 45%;
    transform: translateX(45%);
    font-size: 20px;
}

.row {
    display: flex;
    margin-bottom: 1.5%;
}

.angle-right {
    margin-top: .6%;
    margin-right: 3%;
}

@media all and (max-width: 800px) {
    .terminal-container {
        width: 92%;
        height: 70%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 4% 0 4% 4%;
    }
    
    .terminal-nav {
        margin-bottom: 20%;
    }
    
    .terminal-title {
        top: 2.2%;
        left: 42%;
        transform: translateX(42%);
    }
    
    .row {
        margin-bottom: 4%;
    }
    
    .angle-right {
        margin-top: 1.2%;
    }
}

/* PROJECT CARDS */
.project-container {
    border: blue 2px dashed;
    width: 70%;
    
}